<?xml version="1.0"?>
<config>
    <modules>
        <Muelln_Talent>
            <version>0.1.0</version>
        </Muelln_Talent>
    </modules>
    <global>
        <models>
            <muelln_talent>
                <class>Muelln_Talent_Model</class>
                <resourceModel>muelln_talent_resource</resourceModel>
            </muelln_talent>
            <muelln_talent_resource>
                <class>Muelln_Talent_Model_Resource</class>
                <entities>
                    <talent>
                        <table>unic_productimport_entity</table>
                    </talent>
                    <talent_attribute>
                        <table>unic_productimport_attribute</table>
                    </talent_attribute>
                </entities>
            </muelln_talent_resource>
        </models>
        <blocks>
            <muelln_talent>
                <class>Muelln_Talent_Block</class>
            </muelln_talent>
        </blocks>
        <helpers>
            <muelln_talent>
                <class>Muelln_Talent_Helper</class>
            </muelln_talent>
        </helpers>
        <resources>
            <muelln_talent_setup>
                <setup>
                    <module>Muelln_Talent</module>
                </setup>
            </muelln_talent_setup>
        </resources>
    </global>
</config>